* @josecm @sandro2pinto @DavidMCerdeira @danielRep @miguelafsilva5

scripts/ @josecm @DavidMCerdeira @danielRep @miguelafsilva5

src/core/mmu @josecm @DavidMCerdeira @joaopeixoto13
src/core/mpu @josecm @danielRep @miguelafsilva5

*remio* @josecm @DavidMCerdeira @joaopeixoto13

src/arch/armv8 @josecm @DavidMCerdeira @joaopeixoto13
src/arch/armv8/armv8-r @josecm @danielRep @miguelafsilva5
src/arch/armv8/aarch32 @josecm @danielRep @miguelafsilva5

src/arch/riscv @josecm @ninolomata @malejo97

src/arch/rh850 @davidmcerdeira
