[submodule "ci"]
	path = ci
	url = git@github.com:bao-project/bao-ci.git
[submodule "tests/tf"]
	path = tests/tf
	url = https://github.com/bao-project/bao-tf.git
[submodule "tests/benchs"]
	path = tests/benchs
	url = git@github.com:osyxtechnologies/bao-benchmarks.git
