## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "zcu102" if PLAT_ZCU102

config ARCH_SUB
	default "aarch64" if PLAT_ZCU102

config ARCH_PROFILE
	default "armv8-a" if PLAT_ZCU102

config CPU
	default "cortex-a53" if PLAT_ZCU102

config GIC_VERSION
	default "GICV2" if PLAT_ZCU102
