## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "fvp-r" if PLAT_FVP_R

config ARCH_SUB
	default "aarch64" if PLAT_FVP_R

config ARCH_PROFILE
	default "armv8-r" if PLAT_FVP_R

config GIC_VERSION
	default "GICV3" if PLAT_FVP_R
