## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "fvp-r" if PLAT_FVP_R

config ARCH_SUB
	default "aarch64" if PLAT_FVP_R

config ARCH_PROFILE
	default "armv8-r" if PLAT_FVP_R

choice
	prompt "GIC version"
	depends on PLAT_FVP_R

config FVP_R_GICV3
	bool "GICv3"

config FVP_R_GICV2
	bool "GICv2"

endchoice

config GIC_VERSION
	default "GICV3" if FVP_R_GICV3
	default "GICV2" if FVP_R_GICV2
