## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "qemu-aarch64-virt" if PLAT_QEMU_AARCH64_VIRT

config ARCH_SUB
	default "aarch64" if PLAT_QEMU_AARCH64_VIRT

config ARCH_PROFILE
	default "armv8-a" if PLAT_QEMU_AARCH64_VIRT

config CPU
	default "cortex-a53" if PLAT_QEMU_AARCH64_VIRT

choice
	prompt "GIC version"
	depends on PLAT_QEMU_AARCH64_VIRT

config QEMU_AARCH64_VIRT_GIC_V3
	bool "GICv3"

config QEMU_AARCH64_VIRT_GIC_V2
	bool "GICv2"

endchoice

config GIC_VERSION
	default "GICV3" if QEMU_AARCH64_VIRT_GIC_V3
	default "GICV2" if QEMU_AARCH64_VIRT_GIC_V2
