## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config ARCH_RH850
	bool

config ARCH
	default "rh850" if ARCH_RH850

config MEM_PROT_MPU
	default y if ARCH_RH850

config PHYS_IRQS_ONLY
	default y if ARCH_RH850
