## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "qemu-riscv32-virt" if PLAT_QEMU_RISCV32_VIRT

config ARCH_SUB
	default "riscv32" if PLAT_QEMU_RISCV32_VIRT

choice
	prompt "Interrupt controller"
	depends on PLAT_QEMU_RISCV32_VIRT

config QEMU_RISCV32_VIRT_IRQC_AIA
	bool "AIA"

config QEMU_RISCV32_VIRT_IRQC_PLIC
	bool "PLIC"

endchoice

config IRQC
	default "AIA" if QEMU_RISCV32_VIRT_IRQC_AIA
	default "PLIC" if QEMU_RISCV32_VIRT_IRQC_PLIC

choice
	prompt "IPI controller"
	depends on PLAT_QEMU_RISCV32_VIRT

config QEMU_RISCV32_VIRT_IPIC_SBI
	bool "SBI"

config QEMU_RISCV32_VIRT_IPIC_ACLINT
	bool "ACLINT"

endchoice

config IPIC
	default "IPIC_SBI" if QEMU_RISCV32_VIRT_IPIC_SBI
	default "IPIC_ACLINT" if QEMU_RISCV32_VIRT_IPIC_ACLINT
