## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "qemu-riscv32-virt" if PLAT_QEMU_RISCV32_VIRT

config ARCH_SUB
	default "riscv32" if PLAT_QEMU_RISCV32_VIRT

config IRQC
	default "AIA" if PLAT_QEMU_RISCV32_VIRT

config IPIC
	default "IPIC_SBI" if PLAT_QEMU_RISCV32_VIRT
