## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

config PLATFORM
	default "s32g3" if PLAT_S32G3

config ARCH_SUB
	default "aarch64" if PLAT_S32G3

config ARCH_PROFILE
	default "armv8-a" if PLAT_S32G3

config CPU
	default "cortex-a53" if PLAT_S32G3

config GIC_VERSION
	default "GICV3" if PLAT_S32G3
