## SPDX-License-Identifier: Apache-2.0
## Copyright (c) Bao Project and Contributors. All rights reserved.

mainmenu "Bao Hypervisor Configuration"

source "src/arch/Kconfig"
source "src/platform/Kconfig"
source "src/core/Kconfig"
