name: Test Franewrork

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:


jobs:

  run-tests:
    runs-on: ubuntu-latest
    container:
      image: diogo21costa/bao-tests:latest
      options: --user root
    strategy:
      matrix:
        platform: [
          "qemu-aarch64-virt",
        ]
        recipe: [
          "single-baremetal/default.nix"
        ]
        gic: [
          "GICV2",
        ]
        cross_compile: [
          "CROSS_COMPILE=clang"
        ]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run tests inside nix shell
        run: nix develop ./tests --command make tests PLATFORM=${{ matrix.platform }} RECIPE=${{ matrix.recipe }} ${{ matrix.cross_compile }} GIC_VERSION=${{ matrix.gic }}
